@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-color: #9EC9BA;
}

body {
  --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel .slider-wrapper {
    overflow: hidden;
  }
  
  .carousel .slider {
    display: flex;
    align-items: center;

  }
  
  .carousel .control-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;

  }
  
  .carousel .control-dots .dot {
    margin: 0 5px;
  }
  
  .carousel .control-dots .dot.selected {
    background-color: #9EC9BA;
  }
  

  h1 {
    padding-block: 1rem ;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .circle-behind {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 650px; 
    background: var(--green-color) ;
    opacity: 0.5;
    border-radius: 50%;
    z-index: -1;
    margin-top: 1rem;
  }
